/* ..root {
  --bleu: #00B5D6;
} */

@font-face {
  font-family: "Louis";
  src: url("../font/Louis.ttf");
  font-family: "Italic";
  src: url("../font/italic.ttf");
  font-family: "Roboto";
  src: url("../font/Roboto.ttf");
}

html, body, p {
  margin: 0;
  padding: 0;
}

#all {
  display: flex;
  flex-direction: row;
  padding: 60px 2% 60px 2%;
  background: linear-gradient(180deg, white, #00B5D6);
}

#left {
  background: linear-gradient(180deg, white, #00B5D6);
  /* background-color: white; */
  text-align: justify;
  hyphens: auto;
  width: 55%;
}

h1 {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 280%;
  hyphens: auto;
}

h4 {
  font-family: "Italic";
  font-size: 200%;
}

.infos {
  font-family: "Louis";
  font-size: 150%;
}

#right {
  background: linear-gradient(180deg, white, #00B5D6);
  /* background-color: red; */
  width: 45%;
}

#left, #right {
  margin: 2%;
  padding: 1.5%;
}
