/* ..root {
  --bleu: #00B5D6;
} */

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.ttf");
}

@font-face {
  font-family: "Nesans";
  src: url("../font/Nesans.ttf");
}

@font-face {
  font-family: "Italic";
  src: url("../font/italic.ttf");
}

@font-face {
  font-family: "Times";
  src: url("../font/TIMES.ttf");
}

a {
  text-decoration: none;
  font-size: 220%;
  font-family: "Nesans";
  color: black;
}

li {
  list-style-type: none;
  text-align: center;
}

html, body, p {
  margin: 0;
  padding: 0;
}

#all {
  display: flex;
  flex-direction: row;
  /* padding: 60px 2% 60px 2%; */
}

#left {
  background: linear-gradient(180deg, white, #A3EFFD);
  /* background-color: red; */
  opacity: 60%;
  hyphens: auto;
  width: 50%;
  margin: 0;
  padding: 0;
}

.suivre {
  text-align: end;
  font-family: "Times";
  font-size: 120%;
}

.suivre:hover {
  color: #004653;
  cursor: pointer;
}

h1 {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 280%;
  hyphens: auto;
}

h4 {
  font-family: "Italic";
  font-size: 180%;
}

a:hover {
  color: #007C93;
}

.img-college {
  width: 100px;
  background: url("../img/shrub.svg") no-repeat;
  background-size: contain;
  height: 80px;
}

.img-lycee {
  width: 100px;
  background: url("../img/tree.svg") no-repeat;
  background-size: contain;
  height: 80px;
}

.infos {
  font-family: "Times";
  font-size: 150%;
  text-align: justify;
  line-height: 1.5;
}

#right {
  background: linear-gradient(180deg, white, #00B5D6);
  /* background-color: red; */
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 60%;
  height: 90vh;
  position: fixed;
  top: 0;
  right: 0;
}

body {
  background: linear-gradient(180deg, white, #00B5D6);
  background-attachment: fixed;
}

.college, .lycee {
  padding: 5%;
}

.ecole {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.college:hover > div {
  width: 100px;
  background: url("../img/shrub_bleu.svg") no-repeat;
  background-size: contain;
  height: 80px;
}

.lycee:hover > div {
  width: 100px;
  background: url("../img/tree_bleu.svg") no-repeat;
  background-size: contain;
  height: 80px;
}

img {
  width: 80px;
  margin-right: 2%;
}

#left, #right {
  margin: 2%;
  padding: 1.5%;
}

.fin {
  display: none;
  text-align: justify;
  font-size: 150%;
  font-family: "Times";
  line-height: 1.5;
  padding-bottom: 15px;
}

.auteur {
  text-align: right;
}
