@font-face {
  font-family: "Italic";
  src: url("../font/italic.ttf");
}

@font-face {
  font-family: "Nesans";
  src: url("../font/Nesans.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.ttf");
}

@font-face {
  font-family: "Times";
  src: url("../font/TIMES.ttf");
}

@font-face {
  font-family: "Rock";
  src: url("../font/Rock.otf");
}

@font-face {
  font-family: "Libertine";
  src: url("../font/LinLibertine.ttf");
}

* {
  margin: 0;
}

.choix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cartes {
  /* background-color: #A3EFFD; */
  background-color: #DBF9FF;
  text-align: justify;
  padding: 1.5%;
  hyphens: auto;
  border-radius: 12px;
  opacity: 95%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartes:hover {
  background-color: #A3EFFD;
}

.cartes h3 {
  color: #004653;
  font-family: "Rock";
  text-align: center;
}

.cartes p {
  color: #004653;
  font-family: "Libertine";
}

.cartes img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 50%;
  height: 30%;
}

.articles p {
  padding-top: 25px;
}

.articles {
  width: 25%;
  height: 30vh;
  margin: 1.5%;
}

.matieres {
  width: 17%;
  height: 50vh;
  margin: 2.5%;
}

button {
  border: none;
  border-radius: 20px;
  color: #004653;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  height: 5vh;
  background-color: white;
}

button:hover {
  color: black;
  box-shadow: 1px 1px 12px #1A90CD;
}
